body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
.nav-link{
  margin-left: 40px;
}
.create-ticket{
  a{

    text-decoration: none;
    
  }
  margin-top: 5rem; 
  line-height: 2.5;

}
.create-ticket-hero{
  a{
    color: white;
  }
  background-color: hwb(203 16% 22%);
  
  
}
.Universe-icons{
  height: 4rem;
}
.create-ticket-hero-hero-input{
  width: 70%;
  height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}